body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('blanco y negro.png');
    background-size: cover;
    text-align: center;
    padding: 30px 0;
}

.content {
    color: white;
}

.date {
    font-family: "Bellota Text", sans-serif;
    font-size: 40px;
    color: black;
}
.hora {
    font-family: 'Bellota Text', sans-serif; 
    font-size: 40px; 
    font-weight: bold;
    color: black;
}

.names {
    font-family: 'Aref Ruqaa Ink', serif; /*, cursive*/
    font-size: 80px; /* Adjusted size for responsiveness */
    font-weight: 400;
}

.countdown {
    margin-top: 32px;
}

#countdown {
    display: flex;
    justify-content: center;
}

#countdown span { 
    font-weight: normal !important;
    font-family: "Raleway Dots", sans-serif !important; 
    font-size: 48px; 
    color: gray; /* Adjusted size for responsiveness */
}

#countdown div {
    margin: 0 10px;
    font-family: "Bellota Text", sans-serif; 
    font-size: 20px; 
    color: black; 
    font-weight: bold;
    text-align: center;
}
.subtitulo {
    font-family: "Bellota Text", sans-serif !important; font-size: 20px !important; color: black !important; font-weight: 600 !important;
}

.white-background {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    background-color: white;
    padding: 20px;
    text-align: center;
    color: #54595F;
}

.white-background .inner-div {
    font-size: 20px;
    color: gray;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.box {
    font-family: "Raleway", serif;
    font-size: 20px;
    text-align: center;
    width: 80%; /* Adjusted width for responsiveness */
    max-width: 400px; /* Added maximum width for responsiveness */
    height: 150px;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px; /* Added margin bottom for separation */
}

.box1 {
    font-family: "Raleway", serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    width: 80%; /* Adjusted width for responsiveness */
    max-width: 400px; /* Added maximum width for responsiveness */
    height: 150px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px; /* Added margin bottom for separation */
}
.form-container {
    width: 100%;
    text-align: center;
    font-family: "Raleway", serif;
    font-weight: 100;
    color: white;
    margin: 0 auto;
    background-color: #747676; /* Color gris de fondo */
    padding: 20px; /* Ajusta el espaciado interno según sea necesario */
}

    svg {
            width: 40px; /* Cambia el ancho del SVG */
            height: 40px; /* Cambia la altura del SVG */
            fill: white; /* Cambia el color de relleno del SVG */
        }
